*{
  color:white !important;
  background: rgba(0,0,0,1)!important;
  
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
a:link{
    text-decoration: none;
 
}
a:hover{
    color: red !important;
}
.disabled-link{
 /*    pointer-events: none; */
}

.hovered:hover{
    color:red !important;
}